<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lantern - Home</title>
   
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}
    
    <div class="container centered-buttons">
        <div class="lantern">🔥 Lantern 🔥</div>
        <h1>Light Your Way Through Cybersecurity Uncertainty</h1>
        <p>Discover security vulnerabilities and illuminate your network’s hidden risks.</p>
    {% endblock %}
    {% block content %}  
        <div class="footer">
            <p>&copy; 2025 Lantern Security. All rights reserved.</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>
