<!-- app/templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="menu d-flex flex-wrap gap-2 justify-content-center my-3">
        <form method="get" action="{{ url_for('index_bp.index') }}">
            <button type="submit" class="btn btn-secondary btn-lg">
                Home
            </button>
        </form>
        <form method="post" action="{{ url_for('index_bp.survey') }}">
            <button type="submit" class="btn btn-primary btn-lg">
                {{ action_button_text }}
            </button>
        </form>
        <form method="get" action="{{ url_for('index_bp.network') }}">
            <button type="submit" class="btn btn-secondary btn-lg">
                View Network
            </button>
        </form>
        <form method="get" action="{{ url_for('index_bp.report') }}">
            <button type="submit" class="btn btn-secondary btn-lg">
                Generate Report
            </button>
        </form>
        <form method="post" action="{{ url_for('index_bp.run_update') }}">
            <button type="submit" class="btn btn-secondary btn-lg">
                Update System
            </button>
        </form>
        <form method="post" action="{{ url_for('index_bp.wipe_system') }}" onsubmit="return confirm('Are you sure you want to wipe the system? This cannot be undone.');">
            <button type="submit" class="btn btn-danger btn-lg">
                Wipe System
            </button>
        </form>
        <form method="get" action="{{ url_for('index_bp.about') }}">
            <button type="submit" class="btn btn-secondary btn-lg">
                About
            </button>
        </form>
    </div>
</nav>